.bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.bottom-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.bottom-left__orange {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 120%;
  color: #e75626;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.bottom-left__orange:first-child {
  margin: 0 0 18px;
}

.bottom-left__orange:last-child {
  margin-bottom: 28px;
}

.bottom-left__regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 36px;
}

.bottom-left__white,
thead th {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 8px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bottom-right__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 36px;
}

.bottom-right__table {
  border-collapse: collapse;
  margin-right: 28px;
}

.bottom-right::-webkit-scrollbar {
  width: 3px;
}

.bottom-right::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-clip: padding-box;
}

.bottom-right::-webkit-scrollbar-thumb {
  background: #e75626;
  border-radius: 2px;
  width: 3px;
}

.bottom-right__close {
  width: 10px;
  height: 10px;
}

.bottom-right__close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.bottom-right__table tr {
  border-bottom: 1px solid #ffffff;
}

.bottom-right__table tbody tr:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tr-custom th {
  color: #e75626;
}

.bottom-right__table th {
  padding: 16px 10px 16px 0;
  text-align: left;
}

tbody th {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 129%;
  color: #ffffff;
}

.bottom-left__input {
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-bottom: 18px;
  padding: 12px 18px;
  background: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  line-height: 18px;
}

.bottom-left__input:focus {
  border: 1px solid #e75626;
}
