body {
  background: #171719;
  overflow-x: hidden;
}

body,
body * {
  transition: all 0.3s;
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

.container {
  padding: 0 64px;
}
